*{
  align-items: center;
  font-size:17px;
color:#424242;
font-family: 'Open Sans', sans-serif;
background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");

}
p{
  font-family: 'Open Sans', sans-serif;
  color:#424242;
  font-size: 17px;
  align-items: center;
}